.taskCard-wrapper {
  padding: 15px 20px;
  width: 277px;
  height: 57px;

  background: #FFFFFF;
  border-radius: 5px;

  .taskCard-top {
    display: flex;
    align-items: center;
    margin: 0 0 8px 0;

    .task {
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;

      margin: 0 0 0 10px;
    }
  }

  .taskCard-bottom {
    margin: 0 0 0 36px;
    display: flex;
    align-items: center;

    label {
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      color: #FFFFFF;
      background: #FF6161;
      padding: 5px 9.5px;
      border-radius: 25px;
      margin-right: auto;
    }

    .slot {
      display: grid;
      grid-template-rows: auto;
      grid-auto-flow: column;
      grid-column-gap: 5px;
      align-items: center;
    }
  }
}