.content-wrapper {
  display: flex;
  flex-direction: column;
  
  .content {
    margin: 10px 0 0 0;
    display: flex;

    .left {
      display: flex;
      flex-direction: column;
    }
    
  }

}

.text {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;

  text-transform: uppercase;
}