.content-wrapper {
  display: flex;
  flex-direction: column;

  margin: 0 0 0 71px;
  
  .content {
    margin: 10px 0 0 0;
    display: flex;

    .left {
      display: flex;
      flex-direction: column;

      .recent-folders-section {
        .folders {
          margin: 15px 0 0 0;

          display: grid;
          grid-template-columns: 157px 157px;
          grid-template-rows: 147px;
          grid-column-gap: 20px;
        }
      }
      
      .projects-section {
        margin: 154px 0 0 0;

        .text {
          margin: 0 0 15px 0;
        }

        .projects-list {
          display: grid;
          grid-template-columns:  auto auto;
          grid-row-gap: 10px;
          grid-column-gap: 10px;
        }
      }
    }

    .right {
      margin: 0 0 0 71px;
    }
    
  }

}

.text {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;

  text-transform: uppercase;
}