.header-wrapper {
  display: flex;
  align-items: center;
  margin: 0 0 40px 0;
  height: 48px;

  .searchBar {
    display: flex;
    align-items: center;
    padding: 10px 0 10px 20px;
    margin-right: auto;
    width: 322px;

    border: 1px solid #EEEEEE;
    border-radius: 25px;

    .material-icons {
      font-size: 28px;
      mix-blend-mode: normal;
      opacity: 0.5;
      margin: 0 10px 0 0;
    }

    .searchBar-content {
      text-decoration: none;
      border: none;

      font-weight: normal;
      font-size: 16px;
      line-height: 20px;

      &:focus {
        border: none;
        outline: none;
      }

      &::placeholder {
        mix-blend-mode: normal;
        opacity: 0.5;
      }
    }
  }

  .material-icons-outlined {
    font-size: 26px;
    user-select: none;

    &:hover {
      cursor: pointer;
      color: #5D86F4;
    }
  }

  .notification {
    margin: 0 50px 0 32px;
  }

  .date-time {
    display: flex;
    flex-flow: row-reverse;

    .time {
      font-weight: normal;
      font-size: 36px;
      line-height: 45px;
      text-align: right;
    }

    .date {
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      white-space: nowrap;

      position: absolute;
      top: 90px;
    }
  }
}