* {
  margin: 0;
  font-style: normal;
  color: #0a0e1c;
}

.material-icons {
  user-select: none;
}

.App {
  font-family: Muli;
  display: flex;

  width: 100vw;
  height: calc(100vh - 44px);

  padding: 44px 50px 0 50px;

  .separator {
    margin: -44px 0 0 0;
    border: .5px solid #eeeeee;
  }

  .content {
    width: 80%;
  }
}