$imgSize: 43px;

.profileCard-wrapper {
  display: flex;
  align-items: center;

  margin: 24.5px 0 28px 0;

  img {
    width: $imgSize;
    height: $imgSize;

    border-radius: 50px;
  }

  .name {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;

    margin: 0 39px 0 10px;
  }

  .material-icons {
    font-size: 20px;
    color: #5D86F4;
    background-color: #F1F5FA;
    border-radius: 50px;
    padding: 4px;

    &:hover {
      cursor: pointer;
    }

    &:active {
      background-color: #5D86F4;
      color: #F1F5FA;
    }
  }
}